.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.movie-card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.movie-card:hover {
  transform: translateY(-10px);
}

.movie-card .image-container {
  width: 100%;
  height: 400px; /* Tetapkan tinggi tetap untuk gambar */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Memastikan gambar menutupi seluruh container dengan proporsi yang benar */
}

.movie-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.movie-card .card-title {
  font-size: 1rem;
  color: #333;
}

.movie-card .card-text {
  font-size: 0.875rem;
  color: #777;
  margin-top: 5px;
}
